html{
    background-color: rgb(68, 143, 105);
}

body{
    display: flex;
    flex-direction: row;
}

#info{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 550px;
    margin-right: 20px;
}

#gridContainer{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    height: 550px;
    width: 550px;
}

.title{
    color: #8f4d44;
    font-size:30px;
}